[MASTER]
ignore=.venv,.git,__pycache__,.pytest_cache,.ruff_cache
persistent=no

[MESSAGES CONTROL]
disable=all
enable=duplicate-code,unreachable

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
ignore-signatures=yes

[REPORTS]
reports=no
score=no
